body {margin:0; padding:0; width:100%; min-width:1200px; font:normal 17px 'Chaparral Pro'; color:#9f757b;}
a {text-decoration:none; color:#fff;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {webkit-appearance:none;}
p {margin:0;}
#header {float:left; width:100%;}
#main-wrap {float:left; width:808px; margin-top:30px;}
.apple {font-family:'Apple Chancery';}
.chaparral {font:normal 16px 'Chaparral Pro';}
.last {margin-right:0 !important;}


/*HEADER*/
#header {height:295px;}
#header #hair {float:left; background:url(../images/hair.png) no-repeat; width:260px; height:292px;}
#header #logo-text {float:left; font-size:50px; color:#000; text-align:center; margin:45px 0 0 50px; line-height:50px;}
#header #logo-text span {font-size:40px;}
#header #salon-logo {float:right; background:url(../images/salon-logo.png) no-repeat; width:330px; height:160px;}
#header #nav {float:left; margin:40px 0 0;}
#header #nav li {float:left; margin-right:20px;}
#header #nav li:hover, #header #nav .current-menu-item, #header #nav .current-page-ancestor {background:url("../images/nav-hover.png") no-repeat center 30px}
#header #nav li a {font:normal 20px 'Apple Chancery'; color:#000; float:left; height:90px; min-width:75px; padding:0 15px 0 13px; text-align:center;}

/*TIP CONTAINER*/
#tip-cont {float:left; width:180px; padding:15px; border:1px solid #e7bdcf; margin:25px 0 10px 35px;}
#tip-cont .title {float:left; background:url(../images/loyalty-pattern.png) no-repeat 11px 45px; background-size:150px; font-size:25px; color:#8f6354; width:100%; text-align:center; margin-bottom:15px; height:65px;}
#tip-cont .tip-title {float:left; width:100%; text-align:center; padding:5px 0 2px; background:#fcf3f7; margin-bottom:15px; font-size:20px;}
#tip-cont .tip-text {float:left; font-size:14px; margin-bottom:10px;}

/*FOOTER*/
#footer {float:left; width:730px; height:30px; border:solid 1px #e7bdcf; background:#fcf5f8; margin:50px 0 0 100px; padding:10px;}
#footer #signup-cont {z-index:4;display:none; background:#f2d9e4; border:1px solid #8f6354; height:21px; padding:2px 5px 5px 5px; width:547px; position:absolute; margin-left:171px;}
#footer #newsletter {z-index:5; float:left; color:#8f6354; font-size:22px; border:1px solid #8f6354; width:155px; height:21px; padding:2px 5px 5px 10px; background:url(../images/arrow.png) no-repeat 155px 7px #f2d9e4; cursor:pointer;}
#footer #newsletter.click {background:url(../images/arrow-left.png) no-repeat 155px 7px #f2d9e4;}
#footer #site-credit {float:right; font-size:13px; color:#000; margin-top:15px;}
#footer #social-cont {float:left; margin:4px 0 0 120px;}
#footer .social-link {float:left; width:22px; height:25px; background:url(../images/facebook.png) no-repeat; margin-left:40px;}
#footer #facebook:hover {background-position: 0 -24px;}
#footer #twitter {background:url(../images/twitter.png) no-repeat; margin-top:4px; height:19px;}
#footer #twitter:hover {background-position: 0 -17px;}

/*NEWSLETTER SIGNUP*/
#footer #mc_signup_form {border:none; background:none;}
#footer #mc_signup_form .form-input {float:left; border:1px solid #e7bdcf; background:#faebf2; height:18px; width:215px; padding:4px 5px 0 5px; margin-left:5px; font-size:normal 16px 'Chapparal Pro'; color:#8f6354;}
#footer #mc_signup_submit {float:left; border:1px solid #e7bdcf; background:#8f6354; color:#eddfda; cursor:pointer; margin-left:5px;}
#footer #mc_message {position:absolute; margin:-50px 0 0 50px; font-size:18px; width:100%;}
#footer #mc_message .mc_error_msg {background:#e4a7c1; border:1px solid #faebf2; color:#fff; padding:4px 50px;}
#footer #mc_message .mc_success_msg {color:#8f6354;}

/*HOMEPAGE*/
#home #home-slider {float:left; width:650px; height:425px; background:url(../images/slider-frame.png) no-repeat; margin-left:90px;}
#home .cycloneslider {margin:22px 0 0 22px;}
#home .salon-address {float:left; width:660px; text-align:center; margin:60px 0 0 90px;}

/*BIO*/
#bio #photo {float:left; width:345px; height:345px; margin:25px 40px 0 35px; background:url(../images/bio-frame.png) no-repeat;}
#bio #photo img {float:left; margin:22px 0 0 22px;}
#bio #bio-text {float:left; width:375px; margin-top:25px;}
#bio #bio-text p {margin-bottom:20px;}

/*SERVICES*/
#services .service-cont {float:left; width:355px; margin:0 30px 20px 0;}
#services .main-title {float:left; width:100%; text-align:center; background:url(../images/services-pattern.png) no-repeat 0 20px; color:#9f757b; font-size:32px; text-decoration:underline;}
#services .service-box {float:left; border:2px solid #e5c0d0; width:320px; padding:15px 10px 15px 20px; color:#000;}
#services .sub-service-cont {float:left; margin-bottom:25px; width:100%;}
#services .sub-service {float:left; width:100%; text-transform:uppercase; font-size:18px; margin-bottom:8px;}
#services .subsub-service {float:left; width:100%; margin-left:20px;}
#services .service-info {float:left; width:295px; margin-left:20px;}
#services .service-info.nosub {width:100%; margin-left:0;}
#services .service-info span {float:left; width:100%; height:20px;}
#services .service-title {position:absolute; background:#fff;}
#services .service-price {float:right; margin-top:-20px; background:#fff;}



